//-
    File Name: footer.pug
    Author's Name: Sonia Sonia
    Website Name: Sonia Golden Temple
    File Description: This file contain all the coding for footer in pug

.footer
    footer.row 
        p(style= ('font-weight:bold; font-size:20px; color:white;'))  2020 &copy; Sonia Sonia