//-
    File Name: about.pug
    Author's Name: Sonia Sonia 
    Website Name: Sonia Golden Temple 
    File Description: This file contain all the coding for about page in pug


extends layout

block content
    .aboutme
        .about
                .row
                    .col
                        h1 About Golden Temple
                    
                        p 
                        |It is famous historical place of India.
                        |The entrance of the Golden Temple in Amritsar is getting gold plated. 
                        |The work is being done by the Shiromani Gurdwara Parbandhak Committee.
                        |Also known as Darbar Sahib, the Golden Temple is one of Sikhism's most revered and spiritual sites. 
                        |The main temple is made of pure gold.
                               
                    