//-
    File Name: History.pug
    Author's Name: Sonia Sonia
    Website Name: Sonia Golden Temple in india
    File Description: This file contain all the coding for Project page in pug template engine


//- Here I worked on card class with the help of bootstrap
extends layout

block content
  .history
    h1 History
      .card.text-center(style='width: 18rem;')
      img.card-img-top(src='../images/pic1.jpg', alt='...', style='width:446px;height:300px;',class='border border-dark')
      img.card-img-top(src='../images/pic2.jpg', alt='...', style='width:446px;height:300px;',class='border border-dark')
      img.card-img-top(src='../images/pic3.jpg', alt='...', style='width:446px;height:300px;',class='border border-dark')
      
      .card-body
          h5.card-title History
          p.card-text The Golden Temple, known as the Harmandir in India, was built in 1604 by Guru Arjun. 
                      
      
      .card-body
          a.card-link(href='https://theculturetrip.com/asia/india/articles/harmandir-sahib-the-golden-temple-with-a-golden-story/') Story about Golden Temple    |
          a.card-link(href='https://www.history.com/this-day-in-history/indian-army-storms-golden-temple') More about Golden temple