//-
    File Name: importance.pug
    Author's Name: Sonia Sonia
    Website Name: Sonia Golden Temple
    File Description: This file contain all the coding for services page in pug

//- Here I worked on some cards by using bootsrap
extends layout

block content
        .importance
            h1 Importance
                .row
                    .col-md-3.col-sm-6.col-xs-12    
                        .card.text-white.bg-dark.mb-3(style='max-width: 1000rem;')
                            img.card-img-top(src='../images/photo2.jpg',  alt='...', style='width:1500px;height:1500px;',class='border border-dark')
                            .card-body
                            h5.card-title Importance of Golden Temple
                            p.card-text
                                | The Harmandir Sahib is significant because it housed the Sikhs' holy book, the Adi Granth , when it was completed in 1604.
                                |  Later on, Guru Gobind Singh added to the Adi Granth the compositions by his father, Guru Tegh Bahadur .
                                
                            a.btn.btn-primary(href='https://www.bbc.co.uk/bitesize/guides/z3b42hv/revision/2') Learn More
